<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Image Downloader</title>
</head>
<body>
    <div class="container">
        <h1>Download images in bulk!</h1>
        <form action="/" method="POST" onsubmit="show()">
            <label for="keyword"><b>Keyword</b></label>
            <input type="text" id="keyword" name="keyword" required><br>

            <label for="num_items"><b>Number of items</b></label>
            <input type="number" id="num_items" name="num_items" required ><br>

            <label for="email_id"><b>Email ID</b></label>
            <input type="email" id="email_id" name="email_id" required placeholder="e.g. abc@gmail.com"><br>

            <button type="submit">Download</button>
        </form>
    </div>

    <div id="loadingscreen">
        <div class="spinner"></div>
        Please wait, processing...
    </div>

    <script>
        function show(){
            document.getElementById("loadingscreen").style.display = "block";
        }
    </script>
</body>
</html>